.carouselImage {
  object-fit: cover; /* Ensures the image covers the element properly */
  width: 100%; /* Full width */
  height: 400px; /* Set a fixed height or adjust as needed */
  position: relative; /* Ensure positioning context for overlay */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1; /* Ensure overlay is on top of the image */
}

.carouselCaption {
  z-index: 2; /* Ensure caption is above the overlay */
  position: absolute;
}

.carouselTitle {
  font-size: var(--font-h2);
  font-weight: var(--font-heading-bold);
  color: var(--white);
}

.carouselText {
  font-size: var(--font-size-4);
  color: var(--white);
}

.carouselButton {
  margin: 2px;
}