.footerSection {
  padding-bottom: 0 !important;
  background-color: var(--black);
}

.footerLink {
  text-decoration: none;
  color: var(--primary-color);
}

.footer {
  bottom: 0;
  width: 100%;
}

.copyRightText {
  color: var(--primary-text-color);
}
