.navebarHeader {
  color: var(--primary-color);
}
/* header.module.css */
.navLink {
  color: var(--secondary-lite-color);
  text-decoration: none;
}

.navLink:hover {
  color: var(--primary-color);
}

.navLink.active {
  color: var(--active-color) !important;
}

.searchButton:hover {
  color: var(--primary-text-color)!important;
}


/* Media query for screens smaller than 290px */
@media screen and (max-width: 290px) {
    .navebarHeader {
      display: none;
    }
  }
  