/* header.module.css */
.hiddenHeader {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.visibleHeader {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.navebarHeader {
  color: var(--primary-color);
}
/* header.module.css */
.navLink {
  color: var(--secondary-lite-color);
  text-decoration: none;
}

.navLink:hover {
  color: var(--primary-color);
}

.navLink.active {
  color: var(--active-color) !important;
}

.dropdownMenu {
  z-index: 1050; /* Adjust the value if needed */
  /* position: relative; */
}

.searchButton:hover {
  color: var(--primary-text-color) !important;
}

/* Media query for screens smaller than 290px */
@media screen and (max-width: 290px) {
  .navebarHeader {
    display: none;
  }
}
